body {
    background-color: #d3d3d3;
}

.header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
	width: 1050px;
	background-image: url(../_images/header.png);
	background-repeat: no-repeat;
}

.servers_bg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 187px;
	width: 1032px;
	background-image: url(../_images/serverbg.png);
	background-repeat: no-repeat;
}

#left_information {
	padding: 15px 0 0 20px;
	text-align: left;
}

.graphics_24h {
    position: relative;
	left: 413px;
	width: 105px;
	bottom: 144px;
	max-height:100px;
	background-image: url(../_images/bar.png);
	background-repeat: repeat-y;
	background-position: center;
	line-height: 6cm;
	text-align: center;
}

.graphics_weekly {
    position: relative;
	left: 525px;
	width: 105px;
	bottom: 260px;
	max-height:100px;
	background-image: url(../_images/barorange.png);
	background-repeat: repeat-y;
	background-position: center;
	line-height: 6cm;
	text-align: center;
}

.graphics_monthly {
    position: relative;
	left: 637px;
	width: 105px;
	bottom: 376px;
	max-height:100px;
	background-image: url(../_images/bar.png);
	background-repeat: repeat-y;
	background-position: center;
	line-height: 6cm;
	text-align: center;
}

.graphics_yearly {
    position: relative;
	left: 749px;
	width: 105px;
	bottom: 492px;
	max-height:100px;
	background-image: url(../_images/barorange.png);
	background-repeat: repeat-y;
	background-position: center;
	line-height: 6cm;
	text-align: center;
}

.graphics_total {
	position: relative;
	left: 861px;
	width: 105px;
	bottom: 608px;
	max-height:100px;
	background-image: url(../_images/bar.png);
	background-repeat: repeat-y;
	background-position: center;
	line-height: 6cm;
	text-align: center;
}